<%- include('../header') %>
<script src="/socket.io/socket.io.js"></script>
<script>const userInfo = <%- JSON.stringify(userInfo) %>;</script>

<link rel="stylesheet" href="/css/game/game.css">
<div class="main">
    <div class="about">
        <h1>Userinfo:</h1>
        <span> <%= userInfo.room %></span>
    </div>
    <%- include('../widgets/chat') %>
</div>


<div class="footer">
    <div class="user-info">
        <ul class="user-info-list">
            <li>sessionID: <%= userInfo.sessionID %></li>
            <li>userID: <%= userInfo.userID %></li>
            <li>name: <%= userInfo.name %></li>
            <li>room: <%= userInfo.room %></li>
            <li>route: <%= userInfo.route %></li>
            <li>game: <%= userInfo.game %></li>
            <li>socket: <%= userInfo.socket %></li>
        </ul>
    </div>
    <div class="footer-menu-left">
        <ul class="footer-menu-left-list">
            <li class="footer-menu-item">
                <form id="logout" action="/logout" method="post">
                    <button class="button button_logout" type="submit">logout</button>
                </form>
            </li>
        </ul>
    </div>
</div>


<script type="module" src="/js/quarto/landing/about.js"></script>
<%- include('../footer') %>
