<%- include('../widgets/header') %>
<script src="/socket.io/socket.io.js"></script>
<script>const userInfo = <%- JSON.stringify(userInfo) %>;</script>
<!-- <%- include('../widgets/userinfo') %> -->
<div class="main">
    <style>
        a {
          color: yellow;
        }
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        a:active {
          text-decoration: underline;
        }

        .main {
            flex-flow: column;
            overflow: auto;
            
        }
        .help-main {
            padding: 1em;
            overflow: auto;
            display: flex;
            flex-flow: column;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
            background-color: rgba(134, 134, 134, 0.466);
            flex: auto;
        }
        
        .help-figures-list {
            list-style: none;
            width: fit-content;
        }
        .help-figures {
            display: flex;
            flex-flow: row;
            align-items: center;
        }
        .help-figures > div {
            width: fit-content;
            height: fit-content;
            width: 4em;
            height: 4em;
            border: 1px solid black;
            background: linear-gradient(180deg, rgba(95, 95, 95, 0.7) 0%, rgba(117, 117, 117, 0.7) 70%,rgba(0, 0, 0, 0.7) 100%);
            padding: 0.5em;
            border-radius: 1em 0 1em 0;
            margin: 1em;
            
        }
        .help-pic-container {
            width: 100%;
            display: flex;
            justify-content: center;    
        }
        .help-pic-container img {
            max-width: 100%;
            height: auto;
            border-radius: 2em;
        }
    </style>
    <div class="help-main">
        <h1>Amőba</h1><br>
        <p>Az amőba kétszemélyes <a href="https://hu.wikipedia.org/wiki/T%C3%A1rsasj%C3%A1t%C3%A9k#A_t%C3%A1rsasj%C3%A1t%C3%A9kok_oszt%C3%A1lyoz%C3%A1sa" target="_blank">absztrakt stratégiai táblás játék</a>, a <a href="https://hu.wikipedia.org/wiki/Gomoku" target="_blank">gomoku</a> változata.</p>
        <p>A győzelemhez (legalább) öt bábunkat kell egy vonalba lerakni.</p>
        <p>A standard gomokutól eltérően (amelyben az 5-nél hosszabb sor nem nyer) az amőbában különleges virtusnak számít a hosszabb (legalább 6 bábut tartalmazó) győztes sor kirakása.</p>
        <p>Az amőba elméletileg a táblás játékok közé tartozik, de a valóságban jellemzően egy füzet kockás papírján, ceruzával, tollal, gyerekek szokták játszani.</p>
        <p>A tábla mérete nem kötött, a játék a füzetlap széléig, a még szabad területen folyik.</p>
        <p>A játék a nevét onnan kapta, hogy a győztesé az a „megtiszteltetés”, hogy a végül létrejött alakzatot (szögletes vagy görbe vonallal) szorosan körberajzolja</p>
        <p>Az így létrejött vonal egy állábakat növesztett amőbára hasonlít.</p><br>
        <h1>Játékmenet</h1><br>
        <p>A játék nem sokban különbözik a gomokutól, csak nincs rögzítve a tábla mérete, és így nem is kerülhet sorra a bábuk tologatásával játszott második játékszakasz.</p><br>
        <p>A két játékos felváltva tesz egy-egy bábut a táblára. A játék célja, hogy vízszintes, függőleges vagy átlós irányban megszakítás nélkül öt saját bábut sikerüljön letenni. </p>
        <p>Az ellenfél ezt a kialakulni látszó vonal végére tett bábukkal próbálja megakadályozni.</p><br>
        <p>A papíron játszott, legjellemzőbb változatban az egyik játékos X, a másik O jelekkel helyettesíti a bábukat, a játék Ox elnevezése innen ered, bár azt a Tic-tac-toe-ra is használják. </p>
        <p>A kétféle jelet szokták kétféle színnel is jelölni, ahogy az a fényképen is látható.</p><br>
        <h1>Hasonló játékok</h1><br>
        <ul class="help-figures-list">
            <li>Gomoku</li>
            <li>Rendzsu</li>
            <li>Pente</li>
            <li>Tic-tac-toe</li>
            <li>Connect four</li>
            <li>Lite three</li>
            <li>Quarto</li>
            <li>Quadruple</li>
            <li>Quixo</li>
        </ul>
        <div class="help-pic-container"></div>
    </div>
</div>
<%- include('../widgets/footer') %>
<script type="module" src="/js/quarto/landing/help.js"></script>
<%- include('../footer') %>
