<%- include('../header') %>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/landing/main.css">
<main>
    <div class="main-header">
        <div class="userinfo">
            <ul>
                <li>Session ID: <%= userInfo.sessionID %></li>
                <li>Socket ID: <span id="socketInfo"></span> </li>
                <li>User ID: <%= userInfo.userID %></li>
                <li>User Name: <%= userInfo.name %></li>
            </ul>
        </div>
       
    </div>
    <div class="main-main">
        <div id="lobbyChat">
            <div id="chatDisplay"></div>
            <div id="chatInput">
                <input id="chatInputBox" type="text" name="chatMsg">
            </div>
        </div>
        <div id="main-left">
            <div class="createGame">
                <button>Create Game</button>
            </div>
            <span>Games</span>
            <ul id="gameList"></ul>
        </div>
    </div>
    <div class="main-footer">
        <form action="/logout" method="post">
            <button type="submit">logout</button>
        </form>
    </div>
    <script>
        var socket = io({transports: ['websocket'], upgrade: false}); //window.location.origin
        var Info = <%-JSON.stringify(userInfo)%>;
        Info = Object.assign({room: 'lobby'}, Info);
        
        // if window or tab closed
        //window.addEventListener('beforeunload', function (e) {
        //    const div = document.getElementById(`${Info.name}_${Info.userID}`);
        //    div.remove();
        //    e.preventDefault();
        //    e.returnValue = '';
        //});

        // chat input box submit event
        document.getElementById("chatInputBox").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
    	        document.getElementById("chatInputBox").submit();
		        return false;
            }
        });

        //console.log(Info.userID)
        //const session = socket.request.session;
        
        socket.emit('join_Lobby', Info );
        socket.on('connected_Lobby', (msg)=>{
            //socket.userID = Info.userID;
            console.log(socket.id.userID);
            document.getElementById("socketInfo").innerHTML = socket.id;
            const display = document.getElementById('chatDisplay');
            display.innerHTML += `<h1>${msg}</h1><br>`;
        });
        //socket.emit("genUsrClient");

        socket.on("usercount", (clients)=>{
            

           //console.log(socket.userID); 

           
            //var clients = JSON.parse(clients);
         
        });


        socket.on("genUsrServer", ()=>{
            console.log('AAAAAAAAAAAAAAAAA')
            document.getElementById("socketInfo").innerHTML
            const userlist = document.getElementById("userlist")
            const li = document.createElement('li');
            li.setAttribute('id',`${Info.name}_${Info.userID}`);
            li.innerHTML = `<span>${Info.name}_${Info.userID}</span>`;
            userlist.appendChild(li);
        });
        
        

</script>
</main>
<%- include('../footer') %>