<%- include('../header') %>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/game/game.css">
<main>
    <div class="main-header">
        <div class="userinfo">
            <ul>
                <li>Session ID: <%= userInfo.sessionID %></li>
                <li>Socket ID: <span id="socketInfo"></span> </li>
                <li>User ID: <%= userInfo.userID %></li>
                <li>User Name: <%= userInfo.name %></li>
                <li>Room: <%= userInfo.room %> </li>
            </ul>
        </div>
    </div>
    <div class="main-game">
        <div class="webgl-container">
            <%- include('game3D') %>
        </div>
        <div class="chat">
            <div class="chatDisplay"></div>
            <div class="chatInput">
                <input class="chatInputBox" type="text" name="chatMsg" placeholder='type a message..'>
                <button class="chatInputButton button_game button_orange">SEND</button>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <form id="logout" action="/logout" method="post">
            <button class="button_logout button_red" type="submit">logout</button>
        </form>
    </div>
</main>
    <script src="/js/quarto/game.js"></script>
<%- include('../footer') %>